<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         id="WebApp_ID" version="2.4">
  <display-name>poseidon-webtest</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>MetricsServlet</servlet-name>
    <servlet-class>com.helijia.spore.client.exporter.MetricsServlet</servlet-class>
    <init-param>
      <param-name>applicationName</param-name>
      <param-value>poseidon-webtest</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetricsServlet</servlet-name>
    <url-pattern>/metrics</url-pattern>
  </servlet-mapping>


</web-app>
